extends layout

block content
  .container
    .row
      .col-md-5
        dl.dl-horizontal
         dt 问题
         dd = news.question
         dt 类型
         dd = news.type_name
         dt 图片
         dd = news.answer_pic
         dt 描述
         dd = news.answer_info
         dt 回答
         dd = news.answer_solution
