extends layout

block content
  .container
    .row
      a(href="/news")
        p: add news
      a(href="/news/admin")
        p: add create
  script(id="editor" type="text/plain" style="width:1024px;height:500px;")
  div(id="btns")
    div
      button
  script
    var ue = UE.getEditor('edtor');
